:root {
  --white: #fff;
  --blue: #3473b1;
  --green: #92bf56;
  --red: #c94831;
  --yellow: #f7d75a;
  --zinc-800: #27272a;
  --zinc-700: #3f3f46;
  --gray: #767676;
  --basic-transition: ease-in-out 0.2s;
}

@font-face {
  font-family: "TommySoftRegular";
  src: url(./assets/fonts/Tommy-Soft-Regular.otf);
}

@font-face {
  font-family: "TommySoftMedium";
  src: url(./assets/fonts/TommySoft-Medium.otf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "TommySoftRegular";
  font-size: 16px;
}

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--zinc-800);
}

.bordered-bottom {
  border-image: linear-gradient(
    to right,
    var(--green) 25%,
    var(--red) 25%,
    var(--red) 50%,
    var(--blue) 50%,
    var(--blue) 75%,
    var(--yellow) 75%
  );
  border-image-slice: 1;
  border-image-width: 0px 0px 4px 0px;
}
