@font-face {
  font-family: "TommySoftRegular";
  src: url(./assets/fonts/Tommy-Soft-Regular.otf);
}

@font-face {
  font-family: "TommySoftMedium";
  src: url(./assets/fonts/TommySoft-Medium.otf);
}


* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "TommySoftRegular";
  font-size: 16px;
}

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}