:root {
  --white: #fff;
  --blue: #3473b1;
  --green: #92bf56;
  --red: #c94831;
  --yellow: #f7d75a;
  --zinc-800: #27272a;
  --zinc-700: #52525b;
  --gray: #767676;
  --basic-transition: ease-in-out 0.2s;
}

@font-face {
  font-family: "TommySoftRegular";
  src: url(./assets/fonts/Tommy-Soft-Regular.otf);
}

@font-face {
  font-family: "TommySoftMedium";
  src: url(./assets/fonts/TommySoft-Medium.otf);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "TommySoftRegular";
  font-size: 18px;
}

#app {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--zinc-800);
}

.bordered-bottom {
  border-image: linear-gradient(
    to right,
    var(--green) 25%,
    var(--red) 25%,
    var(--red) 50%,
    var(--blue) 50%,
    var(--blue) 75%,
    var(--yellow) 75%
  );
  border-image-slice: 1;
  border-image-width: 0px 0px 4px 0px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 5px solid var(--zinc-700); */
  /* border: 5px dotted red; */
  border-radius: 25px;
  padding: 60px;
  gap: 25px;
  /* overflow: scroll; */
}

.heading {
  font-family: "TommySoftMedium";
  color: var(--yellow);
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

.subheading {
  color: var(--white);
  text-align: center;
  font-size: 25px;
}

.button {
  background-color: var(--zinc-800);
  border: 2px solid var(--zinc-700);
  height: 40px;
  color: var(--gray);
  font-size: 24px;
  padding-right: 20px;
  padding-left: 20px;
  transition: ease-in-out 0.2s;
  border-radius: 10px;
}

.button:hover {
  cursor: pointer;
  border-color: var(--white);
  color: var(--white);
}

.item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border: 2px solid var(--zinc-700);
  color: var(--white);
  border-radius: 10px;
  width: 100%;
  position: relative;
  max-width: 400px;
}

.font-weight-normal {
  font-weight: normal !important;
}

.player-name-word-wrap {
  word-wrap: break-word;
  min-width: 1%;
}

.players-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.player-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  /* flex-wrap: wrap; */
  /* border: 5px dotted red; */
}

.player-item-icon {
  border: 2px solid var(--white);
  border-radius: 50%;
  padding: 8px;
  width: 45px;
  height: 45px;
}

.player-item-name {
  text-align: center;
  word-wrap: break-word;
  min-width: 1%;
  max-width: 80%;
}

.players-heading-container {
  position: relative;
}

.small-players-heading {
  font-size: 22px;
  color: var(--white);
  /* border: 5px dotted red; */
}

.players-heading {
  font-size: 32px;
  color: var(--white);
  /* border: 5px dotted red; */
}

.hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 2px solid var(--zinc-700);
  margin: 0;
  padding: 0;
}

.badge {
  border: 2px solid var(--zinc-700);
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.small-badge {
  border: 2px solid var(--zinc-700);
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  display: flex;
  justify-items: center;
  align-items: center;
}

.inline-badge-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.list-inline-badge-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.numberOfPlayers {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  border: 1px solid var(--yellow);
  border-radius: 5px;
  padding: 10px;
}

.smallNumberOfPlayers {
  position: absolute;
  top: 5px;
  right: 5px;
  border: 1px solid var(--yellow);
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
